<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<nav class="sidebar">
  <header>
    <div class="image-text">
      <span class="image">
        <!--<img src="https://images.vexels.com/media/users/3/142789/isolated/preview/2bfb04ad814c4995f0c537c68db5cd0b-multicolor-swirls-circle-logo.png" alt=""> -->
      </span>
      <div class="text header-text">
        <span class="name">Muath's</span>
        <span class="professions">Notes</span>
      </div>
    </div>
  </header>
  <hr>
  <app-categories></app-categories>
  <!---
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a href="#">
            <i class='bx bxs-home'></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <ul class="menu-links">
          <li class="nav-link">
            <a href="#">
              <i class='bx bxs-home'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>
        </ul>
      </ul>
  </div>
  </div>
    -->

</nav>
